/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: #FF7C00;
  padding: 14rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.sotto {
  font-size: large;
  color: blue;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.titolo {
  font-size: large;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
